* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100%;
    padding: 20px;
    background-color: #5BDB94;
    color: #1A202C;
    z-index: 9999;
}

header i {
    font-size: 60px;
    color: #05396B;
    float: right;
    padding-left: 20px;
}

body {
   
    font-family: 'Nunito Sans', sans-serif; 
    /* background: rgb(210,153,244); */
    
     background-color: #EDF5E0;
}

body h1 h2 h3 p {
    color: #1A202C;
}

button {
    background-color: #05396B;
}

button:hover {
    background-color: #5BDB94;
}

/* lastchild is rating */
.movie-cards:last-child{
align-self: flex-end;
}

.card-title {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}

.card-image {
    /* width + margin-left + margin-right + display centers image*/
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    height: 375px;
    text-align: center;
}

.card-description {
    font-size: 16px;
    text-align: center;
    margin: 6% 4% 4% 4%;
}
.card-rating {
    /* Added margin to keep it from being flush with left side */
    margin-left: 20px;
    font-weight: bolder;
    font-size: large;
}



