* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100%;
    padding: 20px;
    background-color: #5BDB94;
}

body {
   
    font-family: 'Nunito Sans', sans-serif; 
    /* background: rgb(210,153,244); */
    
     background-color: #EDF5E0;
}

button {
    background-color: #05396B;
}

button:hover {
    background-color: #5BDB94;
}



